# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# Banco de dados local
db.sqlite3

# Mídias enviadas pelo usuário
media/

# Backups e arquivos pessoais
.backups/

# IDEs
.vscode/
.idea/

# Ferramentas de limpeza
bfg/

# Arquivos do sistema
.DS_Store
Thumbs.db
