
/* Estilo do carrossel */

.carousel {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    max-height: 500px; 
    object-fit: cover; 
}


.carousel-images img {
    transition: opacity 1s ease-in-out;
}

.carousel-overlay {
  position: absolute;
  bottom: 0; /* fica na parte inferior */
  left: 0;
  width: 100%;
  color: white;
  margin: 10px 20px;
  padding: 15px 10;
}

.carousel-btn {
  background:var(--branco);
  color: var(--preto);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 14px 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.carousel-btn:hover {
  background: var(--azul-claro);
}

/* Doação */


.doacao {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.doacao-conteudo {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.imagem-container {
  position: relative;
}

.doacao-img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-doar {
  background-color: var(--azul-claro);
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 20px;
  display: block;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out; 
  opacity: 1; 
}


.btn-doar:hover {
  background-color:var(--azul-escuro);   
  transform: scale(1.1);
  opacity: 0.7; 
}

.text-doacao {
  max-width: 400px;
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 500;
  color: #333;
}
